#heading {
  color: red;
}

#insideDiv {
  background-color: rgb(24, 237, 166);
  width: 50%;
  height: 100%;
  text-align: center;
  margin: 10px;
}

#outsideDiv {
  background-color: rgb(230, 233, 36);
  width: 50%;
  height: 200%;
  text-align: center;
}
